@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">John Doe <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">Administrator</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-area="" asp-page="./Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-mail"></i><span>فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Shop/Slides/List">اسلایدر</a></li>
                        <li><a asp-page="/Shop/ProductCategory/List">گروه محصولات </a></li>
                        <li><a asp-page="/Shop/Product/List">محصولات </a></li>
                        <li><a asp-page="/Shop/ProductPictures/List">عکس محصولات </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-mail"></i><span>سیستم تخفیفات   </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-page="/Discounts/CustomerDiscounts/List">تخفیف مشتری</a></li>
                        <li><a asp-page="/Discounts/ColleagueDiscounts/List">تخفیف همکاری</a></li>
                    </ul>
                </li>

                <li>
                    <a asp-area="Administration" asp-page="./Index" class="waves-effect"><i class="md md-event"></i><span> تقویم </span></a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="md md-palette"></i> <span> عناصر </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="typography.html">تایپوگرافی</a></li>
                        <li><a href="buttons.html">دکمه ها</a></li>
                        <li><a href="checkbox-radio.html">چک باکس ها-رادیوها</a></li>
                        <li><a href="tabs-accordions.html">برگه ها</a></li>
                        <li><a href="notification.html">اطلاعیه</a></li>

                    </ul>
                </li>




                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="md md-place"></i><span>نقشه   </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="gmap.html"> Google Map</a></li>
                        <li><a href="vector-map.html"> Vector Map</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="md md-pages"></i><span> صفحه ها </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="email-template.html">Email template</a></li>
                        <li><a href="contact.html">Contact-list</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="recoverpw.html">Recover Password</a></li>
                        <li><a href="lock-screen.html">Lock Screen</a></li>
                        <li><a href="blank.html">Blank Page</a></li>
                        <li><a href="maintenance.html">Maintenance</a></li>
                        <li><a href="coming-soon.html">Coming-soon</a></li>
                        <li><a href="404.html">404 Error</a></li>
                        <li><a href="404_alt.html">404 alt</a></li>
                        <li><a href="500.html">500 Error</a></li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->